<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/edit_note.css">
</head>
<body>
<main>
    <input id="noteuuid" type="hidden" th:value="${note.getId()}">
    <div id="header" class="header no-edit">
        <span th:text="${note.getHeader()}"></span>
    </div>
    <div id="content" class="content-container no-edit">
        <th:block th:each="line : ${note.getContent().split('\n')}">
            <span th:text="${line}"></span>
        </th:block>
    </div>
</main>

<script>
    const noteUUID = document.body.querySelector("#noteuuid").value;
    const header = document.body.querySelector("#header");
    const content = document.body.querySelector("#content");

    let headerChangeActive = false;
    let contentChangeActive = false;

    header.addEventListener("click", () => {
        if (!headerChangeActive) {
            const text = header.querySelector("span").innerText;
            clearNode(header);
            embedEdit(header, text, {isHeader: true, isContent: false});
            header.classList.toggle("no-edit");
            headerChangeActive = true;
        }
    });

    content.addEventListener("click", () => {
        if (!contentChangeActive) {
            const text = content.innerText;
            clearNode(content);
            embedEdit(content, text, {isContent: true, isHeader: false});
            content.classList.toggle("no-edit");
            contentChangeActive = true;
        }
    });

    function eventAriaBlurHeader(aria) {
        const span = document.createElement("span");
        span.innerText = aria.value;
        aria.remove();
        header.classList.toggle("no-edit");
        header.appendChild(span);
        headerChangeActive = false;
        saveNote();
    }

    function eventAriaBlurContent(aria) {
        const span = document.createElement("span");
        span.innerText = aria.value;
        clearNode(content);
        content.classList.toggle("no-edit");
        content.style.overflowY = "scroll";
        content.appendChild(span);
        contentChangeActive = false;
        saveNote();
    }

    function saveNote() {
        fetch(`/notes/${noteUUID}`,
            {
                method: "PUT",
                headers: {"Content-Type": "application/x-www-form-urlencoded"},
                body: `header=${encodeURI(header.innerText)}&content=${encodeURI(content.innerText)}`
            }
        );
    }

    function clearNode(el) {
        el.innerHTML = "";
    }

    function embedEdit(node, value, {isHeader, isContent}) {
        const aria = document.createElement("textarea");
        aria.className = "edit";
        if (isHeader) {
            aria.style.font = "inherit";
            aria.addEventListener("blur", () => eventAriaBlurHeader(aria));
        } else if (isContent) {
            aria.style.fontSize = "2.5vw";
            node.style.overflowY = "hidden";
            aria.addEventListener("blur", () => eventAriaBlurContent(aria));
        }

        aria.addEventListener("keydown", (e) => {
            if (isHeader && e.code === 'Enter') {
                eventAriaBlurHeader(aria);
            }
        });

        aria.value = value;
        node.append(aria);
        aria.focus();
    }
</script>
</body>
</html>